.main {
    height: calc(100vh - var(--titlebar-height));
}

.main .page .btn.delete {
    padding: 0 !important;
}

/*? Command creation area */
.main .page .form-group .dropdown {
    width: 100%;
}

.main .page .form-group .dropdown > button {
    background-color: transparent !important;
    color: #fff;
    border: 1px solid rgba(255,255,255,.4);
}

.main .page .form-group .dropdown .filter-option-inner-inner {
    color: #fff;
}

.main .page .form-group .dropdown div.dropdown-menu {
    max-height: 300px !important;

    background-color: rgba(255, 255, 255, 0.4);
    background-image: none !important;
}

.main .page .form-group .dropdown .dropdown-menu .inner {
    max-height: 246px !important;
    background-color: transparent;
    background-image: none !important;
    backdrop-filter: none !important;
}

.main .page .form-group .dropdown .dropdown-menu .no-results {
    background: transparent;
}

.main .page .form-group .dropdown ul {
    background-image: none !important;
}

/*? Table */


.main .page .intents .dropdown .dropdown-item:hover {
    background-color: transparent; /*  Remove the hover effect so it doesn't look like there is a click action */
}