<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aurras Frontend App</title>
    
    <%- include('./partials/styles.ejs') %> 
    
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

    <%- include('partials/titlebar.ejs'); %> 

    <!-- Remainder of the content -->
    <div class="main">

        <%- include('partials/sidebar.ejs', {current: 'plugins'}) %> 

        <div class="page">

        </div>

    </div>

    <%- include('./partials/scripts.ejs') %> 
    
</body>
</html>